[ server ]

gitdir = '/home/www/ducking-ninja'
name   = 'server.example.com'

[ database ]

format   = 'mysql'
server   = 'sql-server.example.com'
user     = 'somesqluser'
password = 's3cure'
database = 'some_db_for_duckingninja'

table_servers = 'servers'
