[ server ]

name   = 'server.example.com'
gitdir = '/home/www/ducking-ninja'

[ database ]

format   = 'mysql'
server   = 'sql-server.example.com'
port     = 3306
user     = 'somesqluser'
password = 's3cure'
database = 'some_db_for_duckingninja'
ssl      = on

[ database: ssl ]

cipher = 'RC4-SHA'         # SSL cipher 
ca     = 'ca-cert.pem'     # CA certificate file
cert   = 'client-cert.pem' # SSL client certificate
key    = 'client-key.pem'  # SSL client key
# path = '/home/ssl'       # SSL files directory
# path defaults to git directory/ssl

[ database: tables ]

servers  = 'servers'
registry = 'registry'
